{% extends 'base.html' %}

{% block content %}
{{ super() }}
<style>
   h2, div {
    margin-left: 20px;
   }
</style>
<body bgcolor="#FFFAFA">

<form class="login_form" action="" method="post">
        <h1>Обратная связь</h1>
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(class="form-control", type="email") }}<br>
            {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", type="password") }}<br>
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
<!--        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>  -->
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
    </form>
{% endblock %}
</body>








<!--
			<div class="menu-footer">
				<ul class="footer-list">
					<li class="footer-link1"> Contact Us </li>
					<li class="footer-link2"> Useful Information </li>
					<li class="footer-link3"> Let’s Stay in Touch! </li>
				</ul>
			</div>
			<div class="contact-info">
			<p class="p-contact-info">132A Bridge Road Richmond VIC<br>Australia.<br><br>Talk to us on 1300 132<br>info@interior.com </p>
			</div>
			<div class="inform1">
				<ul class="info1-list">
					<li class="info1-link"> <a href=""> Sales terms </a></li>
					<li class="info1-link"><a href=""> Customer care </a></li>
					<li class="info1-link"><a href=""> Delivery </a></li>
				</ul>
			</div>
			<div class="inform2">
				<ul class="info2-list">
                   <li class="info2-link"><a href="">Architect accounts</a></li>
                   <li class="info2-link"><a href="">Careers</a></li>
                   <li class="info2-link"><a href="">Exchanges & returns</a></li>
				</ul>
			</div>
			<div class="copy">
				<p class="copy1">&copy; Copyright - INTERIOR 2016. All Rights Reserved.</p>
			<div class="social-link">
			<a href="" class="fa"></a>
			<a href="" class="fa"></a>
			<a href="" class="fa"></a>
			<a href="" class="fa"></a>
			</div>
            <div class="copy2">
               <a href="" class="copy3"> Terms & Conditions  / </a>
               <a href="" class="copy3"> Privacy policy & Cookies</a>
			</div>
            </div>
-->
